/** Structure **/

:root {
    --body-background-color: #f7f7f7;
    --header-footer-background-color: #898d7c;
    --nav-background-color: #c0c4b5;
    --big-container-outline-color: #c0c4b5;
    --container-outline-color: #c0c4b5;
    --h1-color: #F2EADF;
}

body {
    font-family: serif;
    background: var(--body-background-color);
}

#booknook-header {
    background: var(--header-footer-background-color);
    text-align: center;
    padding: 0.5px;
    outline: 2px solid var(--big-container-outline-color);
    border-radius: 5px;
}

.new-and-popular,
.classics,
.fiction,
.non-fiction {
    display: flex;
    align-items: center;
    flex-shrink: 20%;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#home-imgs {
    padding: 20px;
    display: flex; 
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    min-width: 100px;  
    outline: 2px solid var(--header-footer-background-color);
    background: var(--nav-background-color);
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    padding: 0px;
    display: block;
}

#book {
    padding: 5px;
}

footer {
    text-align: center;
    background: var(--header-footer-background-color);
    padding: 10px;
    outline: 2px solid var(--big-container-outline-color);
    border-radius: 5px;
}


/** Navigation **/

#toggle-nav div {
    width:35px;
    height:2px;
    background-color: black;
    margin: 6px 0;
}

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    background: var(--nav-background-color);
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 15px;
    margin: auto;
}

#main-nav a{
    color: black;
    text-decoration: none;
}

.hide-small {
    display: none;
}

/** Typography **/

h1 {
    font-size: 60px;
    color: var(--h1-color);
}

h2 {
    font-weight: 100;
}

h3,
h4 {
    font-weight: lighter;
}

/** Larger resolutions **/
@media only screen and (min-width: 768px) {
    .nav-columns {
        display: flex;
    }

    #main-nav li{
        flex: 1;
    }

    .hide-small {
        display: flex;
    }

    #toggle-nav {
        display: none;
    }

    .home-imgs {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        min-width: 800px;
        min-height: 200px;
    }
}