/** Structure **/

:root {
    --body-background-color: white;
    --header-footer-background-color: darkgrey;
    --nav-background-color: lightgrey;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    background: var(--body-background-color);

}

#booknook-header {
    background: var(--header-footer-background-color);
    text-align: center;
    padding: 5px;
}

.new-and-popular,
.classics,
.fiction,
.non-fiction {
    display: flex;
    align-items: center;
    flex-shrink: 20%;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#home-imgs {
    padding: 20px;   
}

img {
    padding: 0px;
    border: 2px solid black;
}

footer {
    text-align: center;
    background: var(--header-footer-background-color);
    margin: auto;
    padding: 10px;
}


/** Navigation **/

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    background: var(--nav-background-color);
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

#main-nav a{
    color: black;
    text-decoration: none;
}

/** Larger resolutions **/
@media only screen and (min-width: 768px) {

    /*
    .nav-contaner {
        display: flex;
        flex-direction: row;
    }
        */

    .nav-columns {
        display: flex;
    }

    #main-nav li{
        flex: 1;
    }

    

}