/** Structure **/
:root {
    --main-background-color: #849ea0;
    --some-items-color: #2f4f4f;
}

body {
    background: var(--main-background-color);
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
    margin: auto;
    padding: 20px;
}

#pick-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* 
* star code from https://css-shape.com/star/
*/
.star {
    width: 200px;  
    aspect-ratio: 1;
    background: var(--some-items-color);
    border-radius: 50px;
    clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   );
   
}

#image-change {
    padding: 20px;
}


#say-hello,
#pick-color,
#image-change {
    outline: 2px solid #256368;
    flex: 3;
    padding: 30px;
    text-align: center;
    background: floralwhite;
    color:#849ea0;
}

footer {
    color: #2f4f4f;
    text-align: center;
}

/** Typography **/
header h1 {
    color:#2f4f4f;
}

header h2 {
    color:floralwhite;
}

/** Larger Resolutions **/
@media only screen and (min-width: 768px) {

    .column {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 80px;
        align-items: stretch;
    }

    #say-hello,
    #pick-color,
    #image-change {
        flex: 1;
        min-height: 250px;
    }
}