body {
    background-color:lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    color:hotpink;
    text-align: center;
    width: 100%;
    display: block;
}
h1:hover{
    color:lightpink;
    text-align: center;
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: black;
}
.assign {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: hotpink;
    width: 20%;
    box-shadow: 8px 8px black;
    border-radius: 20px;
}
.assign img {
    width: 200px;
    padding: 10px;
    border: 2px solid black;
}
