/** Structure **/
body {
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    background: seagreen;
    width: 70%;
    margin: auto;
    padding: 5px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}

header, footer {
    background: seagreen;
    padding: 5px;
    color:white;
}

.idea {
    padding: 5px;
}

.idea:nth-child(even) {
    background: turquoise;
}

.idea-img {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.gallery {
    background: darkseagreen;
}

.links {
    background: green;
}

.tile, .node {
    text-align:center;
    padding:5px;
}

/** Navigation **/
#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    background: purple;
    text-align: center;
    border-bottom: 1px solid white;
}

#main-nav a{
    color: darkseagreen;
    text-decoration: none;
}

/** Larger resolutions **/
@media only screen and (min-width: 768px) {
    /**
    will flex all block-level elements
    **/
    .columns {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
    #main-nav li:not(:last-child){
        border-right: 1px solid white;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .title {
        flex-basis:45%;
    }

    .node {
        flex-basis:30%;
    }
    
}
