/** Structure **/
:root {
    --main-background-color: #577541;
}

body {
    background: var(--main-background-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120vh;
}

header,
footer {
    text-align: center;
}

footer {
    margin-top: 10px;
}

.hidden {
    display: none;
}


/** Typography **/
header h1 {
    color:#D98E04;
}

h3 {
    color: #8C2703;
}

header h2,
footer {
    color:floralwhite;
}

a {
    text-decoration: none;
    color: #8C2703;
}


.pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #D97904;
}

.pizza-box {
    display: inline-block;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.pizza-box:hover {
    transform: scale(1.05);
}

.pizza-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #8C2703;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #D97904;
    text-align: left;
}

.modal-content h4 {
    color: #8C2703;
}

.modal-content p {
    color: white;
}
