/* Structure */
:root {
    --body-background-color: #806361;
    --my-name-color: #CC9F9B;
    --main-header-color: #FFC7C2;
    --col1-color: #9a605c;
    --col2-color: #9a605c;
    --img-outline-color: #806361;
    --h2-text-color: #9a605c;
    --h2-background-color: #CC9F9B;
    --h3-color: #FFC7C2;


}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: var(--body-background-color);
}

#name {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 5px;
    color: var(--my-name-color);
}

#main-header {
    text-align: center;
    padding: 20px;
    color: var(--main-header-color);
}

#assignments {
    padding: 20px;
}

#projects {
    padding: 20px;
}

.flex-container,
.flex-container2 {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.column {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col1 {
    background-color: var(--col1-color);
    outline: 2px solid var(--main-header-color);
}

.col2 {
    background-color: var(--col2-color);
    outline: 2px solid var(--main-header-color);
}

.column img {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 5px solid var(--img-outline-color);
    border-radius: 7px;
}

/* Typography */
h2 {
    text-align: center;
    color: var(--h2-text-color);
    background: var(--h2-background-color);
    padding: 10px;
    border-radius: 10px;
}

h3 {
    color: var(--h3-color);
}

p {
    color: var(--h3-color);
}

a {
    text-decoration: none;
    color: var(--h3-color);
}

/* Larger Resolutions */
@media (min-width: 900px) {
    .flex-container,
    .flex-container2 {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .col1,
    .col2
     {
        flex: 2;
        min-width: 300px;
    }

}

