/* Structure */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #1A6566;
}

#name {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 5px;
    color: #323050;
}

#main-header {
    text-align: center;
    padding: 20px;
    color: floralwhite;
}

#assignments {
    padding: 20px;
}

#projects {
    padding: 20px;
}

.flex-container,
.flex-container2 {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col1,
.col3,
.col5 {
    background-color: #45214A;
}

.col2,
.col4,
.col6 {
    background-color: #21445B;
}

.column img {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 5px solid #1A6566;
    border-radius: 7px;
}

/* Typography */
h2 {
    text-align: center;
    color: #323050;
}

h3 {
    color: floralwhite;
}

p {
    color: floralwhite;
}

a {
    text-decoration: none;
    color: floralwhite;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    .flex-container,
    .flex-container2 {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6
     {
        flex: 1;
        width: 30%;
    }

    .column {
        display: flex;
        flex-wrap: wrap;
    }

    }

