/* Structure */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #1A6566;
}

#name {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 5px;
    color: #323050;
}

#main-header {
    text-align: center;
    padding: 20px;
    color: floralwhite;
}

#assignments {
    padding: 20px;
}

#projects {
    padding: 20px;
}

.flex-container {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col1 {
    background-color: #45214A;
}

.col2 {
    background-color: #21445B;
}

.col3 {
    background-color: #45214A;
}

.column img {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border: 5px solid #1A6566;
    border-radius: 7px;
}

/* Typography */

h2 {
    text-align: center;
    color: #323050;
}

h3 {
    color: floralwhite;
}

p {
    color: floralwhite;
}

a {
    text-decoration: none;
    color: floralwhite;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    .flex-container {
        display: flex;
    }

    .col1,
    .col2,
    .col3
     {
        flex: 1;
        width: 30%;
    }
}
