/** Structure **/

:root {
    --body-background-color: #f7f7f7;
    --header-footer-background-color: #898d7c;
    --nav-background-color: #c0c4b5;
    --big-container-outline-color: #c0c4b5;
    --container-outline-color: #c0c4b5;
    --h1-color: #F2EADF;
}

body {
    font-family: serif;
    background: var(--body-background-color);
}

#booknook-header {
    background: var(--header-footer-background-color);
    text-align: center;
    padding: 0.5px;
    outline: 2px solid var(--big-container-outline-color);
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 30px;
    margin-bottom: 20px;
}

.container1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: #eeece8;
    border-radius: 10px;
    outline: 1px solid var(--container-outline-color);
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #eeece8;
    border-radius: 10px;
    outline: 1px solid var(--container-outline-color);
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #eeece8;
    border-radius: 10px;
    outline: 1px solid var(--container-outline-color);
    min-height: 200px;
}

#story-info,
#mission-info {
    padding: 20px;
}

#story-img,
#mission-img {
    padding: 20px;
}

img {
    outline: 2px solid var(--container-outline-color);
    padding: 10px;
}

#contact-us h3 {
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    align-items: center;
}

#enter-name,
#enter-email {
    margin-right: 45px;
}

#textbox {
    width: 500px;
    height: 100px;
}

#submit-btn {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 125px;
    background-color: var(--header-footer-background-color);
    color: var(--h1-color);
    border: 2px solid var(--h1-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
}

#submit-btn:hover {
    background-color: var(--big-container-outline-color);
}

footer {
    text-align: center;
    background: var(--header-footer-background-color);
    padding: 10px;
    outline: 2px solid var(--big-container-outline-color);
    border-radius: 5px;
}

/** Navigation **/

#toggle-nav div {
    width:35px;
    height:2px;
    background-color: black;
    margin: 6px 0;
}

#toggle-nav {
    cursor: pointer;
}

#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    background: var(--nav-background-color);
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 15px;
    margin: auto;
}

#main-nav a {
    color: black;
    text-decoration: none;
}

#main-nav a:hover {
    color: var(--h1-color);
}

.hide-small {
    display: none;
}

/** Typography **/

h1 {
    font-size: 60px;
    color: var(--h1-color);
}

#page-title {
    text-align: center;
    color: black;
}

h2 {
    font-weight: 100;
}

h3,
h4 {
    font-weight: lighter;
    color: var(--header-footer-background-color);
}


/** Larger resolutions **/
@media only screen and (min-width: 768px) {

    .nav-columns {
        display: flex;
    }

    #main-nav li{
        flex: 1;
    }

    .hide-small {
        display: flex;
    }

    #toggle-nav {
        display: none;
    }

    .container1,
    .container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #story-info,
    #mission-info {
        padding: 20px;
    }

    #story-img,
    #mission-img {
        padding: 40px;
    }

    #textbox {
        width: 600px;
        height: 100px;
    }
}

